
{% block AddressesType_label %}{% endblock %}
{% block AddressesType_errors %}{% endblock %}

{% block AddressType_label %}{% endblock %}
{% block AddressType_errors %}{% endblock %}

{% block AddressType_row %}
<div class="col-md-3">
  {{ form_label(form) }}
  {{ form_errors(form) }}
  {{ form_widget(form) }}
</div>
{% endblock %}

{% block AddressType_widget %}
    {{ form_widget(form) }}
    <br/>
    <p class="text-center">
        <a href="#" class="collection-up btn btn-default">&lt;</a>
        <a href="#" class="collection-delete btn btn-default">-</a>
        <a href="#" class="collection-add btn btn-default">+</a>
        <a href="#" class="collection-down btn btn-default">&gt;</a>
    </p>
{% endblock %}

{% block AddressesType_widget %}
    {{ form_widget(form.addresses) }}
{% endblock %}
