{% extends 'FuzAppBundle::layout.html.twig' %}

{% block extra_js %}
    <script src="{{ asset('bundles/fuzapp/js/collection/jquery.collection.js') }}"></script>
{% endblock %}

{% block title %}Advanced usage: custom theme and several fields{% endblock %}

{% block body %}

    <h2>{{ block('title') }}</h2>

    <p>
        An example that shows how works theming on a form with more than one field.
    </p>

    {{
        github([
            'Controller/AdvancedController.php',
            'Resources/views/Advanced/addressesTheme.html.twig',
            'Resources/views/Advanced/formHavingSeveralFields.html.twig',
            'Entity/Addresses.php',
            'Entity/Address.php',
            'Form/AddressesType.php',
            'Form/AddressType.php',
        ])
    }}

    <div class="row">
        {%
            form_theme form
                'FuzAppBundle::jquery.collection.html.twig'
                'FuzAppBundle:Advanced:addressesTheme.html.twig'
        %}
        {{ form(form) }}
    </div>

    {% for address in data.addresses %}
        <p>
            {{ address.name }} at {{ address.company }}, {{ address.street }}, {{ address.postalcode }} {{ address.city }}, {{ address.country }}
        </p>
    {% endfor %}

{% endblock %}

{% block script %}

    <script type="text/javascript">
        $('.collection').collection({
            'drag_drop_options': {
                'placeholder': null
            }
        });
    </script>

{% endblock %}
