{% extends 'FuzAppBundle::layout.html.twig' %}

{% block extra_js %}
    <script src="{{ asset('bundles/fuzapp/js/collection/jquery.collection.js') }}"></script>
{% endblock %}

{% block title %}Basic usage{% endblock %}

{% block body %}

    <h2>Basic usage</h2>

    <p>This is a collection of simple text fields using the plugin with all default options.</p>

    {{
        github([
            'Controller/BasicController.php',
            'Resources/views/Basic/basic.html.twig',
        ])
    }}

    {% form_theme form 'FuzAppBundle::jquery.collection.html.twig' %}
    {{ form(form) }}

    <hr/>

    {% for value in data.values %}
        <p>Value : {{ value }}</p>
    {% endfor %}

    <hr/>

    <p>Code used:</p>
    <pre>{{ block('script') | e }}</pre>

{% endblock %}

{% block script %}

    <script type="text/javascript">
        $('.my-selector').collection();
    </script>

{% endblock %}
