{# FuzQuickStartBundle::layout.html.twig #}

{% extends 'FuzQuickStartBundle::base.html.twig' %}

{% block menu %}
    {% if is_granted('ROLE_USER') %}
        {{ knp_menu_render('FuzQuickStartBundle:Builder:userMenu') }}
    {% else %}
        {{ knp_menu_render('FuzQuickStartBundle:Builder:mainMenu') }}
    {% endif %}
{% endblock %}

{% block login %}
    {#
    <ul class="nav navbar-nav navbar-right">
        {% if is_granted('ROLE_USER') %}
            {% block logged_in %}
               <p class="navbar-text">{{ 'quickstart.login.as' | trans }} {{ macros.me() }}</p>
               <li><a href="{{ path('logout') }}">{{ 'quickstart.logout.title' | trans }}</a></li>
            {% endblock %}
        {% else %}
           {% block logged_out %}
               <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ 'quickstart.login.title' | trans }} <span class="caret"></span></a>
                   <ul class="dropdown-menu" role="menu">
                       {% block google_login %}<li><a href="{{ hwi_oauth_login_url('google') }}"><img class="oauth-image" src="{{ asset('bundles/fuzquickstart/img/oauth/google-small.png') }}" alt=""/> Google</a></li>{% endblock %}
                       {% block facebook_login %}<li><a href="{{ hwi_oauth_login_url('facebook') }}"><img class="oauth-image" src="{{ asset('bundles/fuzquickstart/img/oauth/facebook-small.png') }}" alt=""/> Facebook</a></li>{% endblock %}
                       {% block twitter_login %}<li><a href="{{ hwi_oauth_login_url('twitter') }}"><img class="oauth-image" src="{{ asset('bundles/fuzquickstart/img/oauth/twitter-small.png') }}" alt=""/> Twitter</a></li>{% endblock %}
                   </ul>
               </li>
            {% endblock %}
        {% endif %}
    </ul>
    #}
{% endblock %}

{% block translations %}
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ 'quickstart.locale.title' | trans }} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                {% block supported_locales %}
                    {% block locale_en %}<li><a href="{{ path('reload', {'_locale': 'en'}) }}"><img class="lang-image" src="{{ asset('bundles/fuzquickstart/img/countries/United-Kingdom.png') }}" alt=""/> English</a></li>{% endblock %}
                    {% block locale_fr %}<li><a href="{{ path('reload', {'_locale': 'fr'}) }}"><img class="lang-image" src="{{ asset('bundles/fuzquickstart/img/countries/France.png') }}" alt=""/> Fran&ccedil;ais</a></li>{% endblock %}
                {% endblock %}
            </ul>
        </li>
    </ul>
{% endblock %}
