{% extends 'FuzQuickStartBundle::layout.html.twig' %}

{% block menu %}{% endblock %}
{% block login %}{% endblock %}

{% block title %}{{ 'quickstart.error.403.title' | trans | title }}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <h3>403 - {{ 'quickstart.error.403.title' | trans | title }}</h3>

        <div class="text-center">
            {{ 'quickstart.error.403.explain' | trans }}
        </div>

        <div>&nbsp;</div>

        <div class="text-center">{{ 'quickstart.error.back_sentence' | trans }}</div>

        <div>&nbsp;</div>

        <div class="text-center">
            <a href="{{ path('home') }}" class="btn btn-default btn-sm">{{ 'quickstart.error.back' | trans }}</a>
        </div>

    </div>
    <div class="clear">&nbsp;</div>
</div>

{% endblock %}
