{% extends 'FuzAppBundle::layout.html.twig' %}

{% block extra_js %}
    <script src="{{ asset('bundles/fuzapp/js/collection/jquery.collection.js') }}"></script>
{% endblock %}

{% block title %}JavaScript options: choose the features to enable{% endblock %}

{% block body %}

    <h2>{{ block('title') }}</h2>

    <p>Use <code>allowe_up</code>, <code>allow_down</code>, <code>allow_add</code> and <code>allow_delete</code> options to disable some buttons</p>

    <p><b>Warning</b>: if you're using the plugin's form theme, <code>allow_add</code> and <code>allow_delete</code> are taken from your form type configuration.</p>

    <p>
        Check out this page's
        <a href="https://github.com/ninsuo/symfony-collection/blob/master/demo/src/Fuz/AppBundle/Controller/OptionsController.php" target="_blank">controller</a>,
        <a href="https://github.com/ninsuo/symfony-collection/blob/master/demo/src/Fuz/AppBundle/Resources/views/Options/enableButtons.html.twig" target="_blank">view</a>
        and
        <a href="https://github.com/ninsuo/symfony-collection/blob/master/demo/src/Fuz/AppBundle/Resources/views/Options/options-theme.html.twig" target="_blank">theme</a>
        to know how to create such form and enable the plugin.
    </p>

    <hr/>

    <form class="form-inline">
      <strong>Enable or disable collection's actions : </strong>
      <div class="checkbox">
         <label>
           <input id="up" class="reload-collection" type="checkbox" checked/> Enable Move up
         </label>
       </div>
      <div class="checkbox">
         <label>
           <input id="down"  class="reload-collection" type="checkbox" checked/> Enable Move down
         </label>
       </div>
      <div class="checkbox">
         <label>
           <input id="add"  class="reload-collection" type="checkbox" checked/> Enable Add
         </label>
       </div>
      <div class="checkbox">
         <label>
           <input id="delete"  class="reload-collection" type="checkbox" checked/> Enable Delete
         </label>
       </div>
      <div class="checkbox">
         <label>
           <input id="duplicate"  class="reload-collection" type="checkbox" checked/> Enable Duplicate
         </label>
       </div>
    </form>

    <br/>

    <div class="row">

       <div class="col-md-6">
          <h3>A simple collection</h3>

             {{ form(form) }}

            {% for value in formData.values %}
                <p>Value : {{ value }}</p>
            {% endfor %}

       </div>
       <div class="col-md-6">
          <h3>A collection of themed types</h3>

            {% form_theme advancedForm 'FuzAppBundle:Options:options-theme.html.twig' %}
            {{ form(advancedForm) }}

            {% for value in advancedFormData.values %}
                <p>Value : {{ value }}</p>
            {% endfor %}

       </div>

    </div>

    <hr/>

    <p>Code used:</p>
    <pre>{{ block('script') | e }}</pre>

{% endblock %}

{% block script %}

    <!-- The name_prefix option is generated, please read at -->

    <script type="text/javascript">

      function reloadCollectionButtons() {
        $('.form-collection').collection({
           name_prefix:  '{{ form.values.vars.full_name }}',
           allow_up: $('#up').is(':checked'),
           allow_down: $('#down').is(':checked'),
           allow_add: $('#add').is(':checked'),
           allow_delete: $('#delete').is(':checked'),
           allow_duplicate: $('#duplicate').is(':checked')
        });

        $('.advancedForm-collection').collection({
           name_prefix:  '{{ advancedForm.values.vars.full_name }}',
           allow_up: $('#up').is(':checked'),
           allow_down: $('#down').is(':checked'),
           allow_add: $('#add').is(':checked'),
           allow_delete: $('#delete').is(':checked'),
           allow_duplicate: $('#duplicate').is(':checked')
        });
      }

      reloadCollectionButtons();

      $('.reload-collection').click(function() {
         reloadCollectionButtons();
      });

    </script>

{% endblock %}
