{% extends 'FuzAppBundle::layout.html.twig' %}

{% block extra_js %}
    <script src="{{ asset('bundles/fuzapp/js/collection/jquery.collection.js') }}"></script>
{% endblock %}

{% block title %}JavaScript options : Initialize your collection with a given minimum number of elements{% endblock %}

{% block body %}

    <h2>{{ block('title') }}</h2>

    <p>Use <code>init_with_n_elements</code> option to ensure that your collection will be initialized with the given number of arguments.

    <p>
        Check out this page's
        <a href="https://github.com/ninsuo/symfony-collection/blob/master/demo/src/Fuz/AppBundle/Controller/OptionsController.php" target="_blank">controller</a>
        and
        <a href="https://github.com/ninsuo/symfony-collection/blob/master/demo/src/Fuz/AppBundle/Resources/views/Options/givenMinimumElements.html.twig" target="_blank">view</a>
        to know how to create such form and enable the plugin.
    </p>

    <hr/>

    {% form_theme form 'FuzAppBundle::jquery.collection.html.twig' %}
    {{ form(form) }}

    <hr/>

    {% for value in formData.values %}
        <p>Value : {{ value }}</p>
    {% endfor %}

    <hr/>

    <p>Code used:</p>
    <pre>{{ block('script') | e }}</pre>

{% endblock %}

{% block script %}

    <script type="text/javascript">

        //
        // Form is initialized without any element, but 5 empty elements
        // are created at startup.
        //
        $('.form-collection').collection({
            init_with_n_elements: 5
        });

    </script>

{% endblock %}
